<Doctype:>
<!doctype html>

<Title:>
    Quad.io

<Head:>
    <meta name="google-site-verification" content="1pX1y8_R6cpukc3e2vGJWA06hbNWBJAWWgnFI9YY3d0" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

<Body: lang="en">

    {{signinVisible > signin}}
    {{homeVisible > home}}
    {{registerVisible > register}}

    <footer class="nav-footer">
    {{> nav}}
    {{userFullName > welcomeMessage}}
    </footer>


<welcomeMessage:>
        | Welcome {{userFullName}}

<nav:>
    {{pages > navitem}}

<navitem:>
    {{#current}}
        <b>{{title}}</b>{{^last}} | {{/}}
    {{^}}
        <a href={{url}}>{{title}}</a>{{^last}} | {{/}}
    {{/}}

<home:>
    <article id="intro">
        <section class="opening">
            <h1>You got a discount</h1>
            <p>
                <strong>Buy One Get One Free</strong><br />
                Buy any sub and get one of equal or lesser value free on your next visit.
            </p>
            <p>
                <a href="#" class="button">Save It</a>
            </p>
        </section>
    </article>


<signin:>
    <article id="signin">
        <section>
            <h1>Sign In</h1>

            <form action="signin" method="post">
                <input type="text" name="email" id="email" placeholder="Email" />
                <input type="password" name="password" id="email" placeholder="Password" />
                <button type="submit">Log In</button><a href="/register" class="button">Register</a>
            </form>
        </section>
        <section class="social">
            {{> social}}
        </section>
    </article>

 <register:>
        <article id="register">
            <section>
                <h1>Register</h1>

                <form action="post">
                    <input type="text" name="name" id="name" placeholder="Full Name" />
                    <input type="text" name="username" id="username" placeholder="Email" />
                    <input type="password" name="password" id="password" placeholder="Password" />
                    <button type="submit">Create Account</button>
                </form>
            </section>
        </article>

<social:>
    <a href="/auth/facebook"><img src="img/facebook.png" alt="facebook">
    <a href="/auth/google"><img src="img/google.png" alt="google">
    <a href="/auth/twitter"><img src="img/twitter.png" alt="twitter">

<Scripts:>

  <script src="/js/libs/modernizr-custom.js"></script>
  <script>Modernizr.mq('(min-width:0)') || document.write('<script src="/js/libs/respond.min.js">\x3C/script>')</script>

  <script src="/js/helper.js"></script>
  <script>
        MBP.hideUrlBar();
        MBP.scaleFix();
  </script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/0.6/zepto.min.js"></script>
  <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script>

