<Doctype:>
<!doctype html>

<Title:>
    Quad.io

<Head:>
    <meta charset="utf-8"/>
    <title></title>
    <meta name = "viewport" content = "user-scalable=no,width=device-width" />
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

<Body: lang="en">

    {{signinVisible > signin}}
    {{homeVisible > home}}

    <footer class="nav-footer">
    {{> nav}}
    </footer>


<nav:>
    {{pages > navitem}}

<navitem:>
    {{#current}}
        <b>{{title}}</b>{{^last}} | {{/}}
    {{^}}
        <a href={{url}}>{{title}}</a>{{^last}} | {{/}}
    {{/}}

<home:>
    <article id="intro">
        <section class="opening">
            <h1>You got a discount</h1>
            <p>
                <strong>Buy One Get One Free</strong><br />
                Buy any sub and get one of equal or lesser value free on your next visit.
            </p>
            <p>
                <a href="#" class="button">Save It</a>
            </p>
        </section>
    </article>


<signin:>
    <article id="signin">
        <section class="opening">
            <h1>Sign In</h1>

            <form action="post">
                <input type="text" name="email" id="email" placeholder="Email" />
                <input type="password" name="password" id="email" placeholder="Password" />
                <button>Log In</button>
            </form>
        </section>
        <section class="login">
            {{> login}}
        </section>
    </article>


<login:>

    <h3>Or log in with</h3>
    <a href="/auth/facebook"><img src="img/facebook.png" alt="facebook">
    <a href="/auth/google"><img src="img/google.png" alt="google">
    <a href="/auth/twitter"><img src="img/twitter.png" alt="twitter">

<Scripts:>

  <script src="/js/libs/modernizr-custom.js"></script>
  <script>Modernizr.mq('(min-width:0)') || document.write('<script src="/js/libs/respond.min.js">\x3C/script>')</script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.2.min.js"><\/script>')</script>

   <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script>


