form input[type=text], form input[type=password]
  border: 2px solid #3e7cad
  border-radius: 8px
  color: #186099
  font-size: 18px
  height: 16px
  width: 300px
  margin: 22px 0
  padding: 14px
  display: block

form input[type=text]:focus,#devForm input[type=password]:focus
  border: 2px solid #b0dcff
  box-shadow: 0 0 4px #fff
  outline: none

form input[type=password]
  margin-bottom: 10px

