form input[type=text], form input[type=password]
  border: 2px solid #3e7cad
  border-radius: 8px
  color: #186099
  font-size: 18px
  height: 16px
  margin: 22px auto 22px 0
  padding: 14px
  display: block

form input[type=text]:focus,#devForm input[type=password]:focus
  border: 2px solid #b0dcff
  box-shadow: 0 0 4px #fff
  outline: none

form input[type=password]
  margin-bottom: 10px

form button, a.button
    border-radius: 8px
    border: 2px solid #37A676
    outline: none
    box-shadow: 0 0 4px #fff
    font-size: 18px
    margin: 22px 10px 22px 0
    padding: 14px
    font-weight: bold
    background-color: #C0FFE4

a.button
    line-height: 70px
    color: rgb(0,0,0)