form input[type=text], form input[type=password]
  border: 2px solid #3e7cad
  border-radius: 8px
  color: #186099
  font-size: 18px
  height: 16px
  margin: 22px auto 22px 0
  padding: 14px
  display: block

form input[type=text]:focus,#devForm input[type=password]:focus
  border: 2px solid #b0dcff
  box-shadow: 0 0 4px #fff
  outline: none

form input[type=password]
  margin-bottom: 10px

form button
    border-radius: 8px
    border: 2px solid #bbb
    outline: none
    background-color: #eee
    box-shadow: 0 0 4px #fff
    font-size: 18px
    margin: 22px auto 22px 0
    display: block
    padding: 14px
